/***********************************************************/
/* BUTTONS                                                 */
/***********************************************************/
@import './variables.styl'

.button-block
	width 100%