/***********************************************************/
/* GRID                                                    */
/***********************************************************/
@import './variables.styl'

.grid-flex-container
	padding-left $pad
	padding-right $pad