/***********************************************************/
/* NAVBAR                                                  */
/***********************************************************/
.top-nav-blue-saturated-lighter
	background-color $blue-saturated-lighter

.top-nav-blue-saturated-lighter > ul > li:hover
	background-color $blue-saturated-light
	cursor pointer

.top-nav.top-nav-blue-saturated-lighter a
	color white
	line-height 1.2em
	
.top-nav > ul > li.logo > a
	text-transform uppercase
	font-weight bold
	font-size 1.2em
	
.top-nav > label.menu-toggle-button
	color white
	font-size 1.2em
	font-weight bolder
